In [1]:
# Import the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [22]:
df = pd.read_csv('/Users/troy/Desktop/Social_Network_Ads.csv')

In [23]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [26]:
# Separate the attributes and target values
X = df.iloc[:, [1, 2, 3]].values
y = df.iloc[:, -1].values

In [27]:
# Transform Gender attribute to biniary 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,0] = le.fit_transform(X[:,0])

In [31]:
X

array([[1, 19, 19000],
       [1, 35, 20000],
       [0, 26, 43000],
       ...,
       [0, 50, 20000],
       [1, 36, 33000],
       [0, 49, 36000]], dtype=object)

In [32]:
# Divide the data for training and testing 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [34]:
# Scale the data 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [46]:
# Train the model 
from sklearn.naive_bayes import GaussianNB
md = GaussianNB()
md.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [55]:
# Predict the data
y_pred = md.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1])

In [53]:
# Evaluate the model
from sklearn.metrics import confusion_matrix,accuracy_score

# Confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm

0.925

In [54]:
# Accuracy rate
ac = accuracy_score(y_test, y_pred)
ac

0.925